* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* LOADER */
/* From Uiverse.io by Nawsome */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 160px;
  height: 100px;
  margin-left: -80px;
  margin-top: -50px;
  border-radius: 5px;
  background: #1e3f57;
  animation: dot1_ 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

.loader:nth-child(2) {
  z-index: 11;
  width: 150px;
  height: 90px;
  margin-top: -45px;
  margin-left: -75px;
  border-radius: 3px;
  background: #3c517d;
  animation-name: dot2_;
}

.loader:nth-child(3) {
  z-index: 12;
  width: 40px;
  height: 20px;
  margin-top: 50px;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  background: #6bb2cd;
  animation-name: dot3_;
}

@keyframes dot1_ {
  3%,
  97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
  }

  30%,
  36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px;
  }

  63%,
  69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px;
  }
}

@keyframes dot2_ {
  3%,
  97% {
    height: 90px;
    width: 150px;
    margin-left: -75px;
    margin-top: -45px;
  }

  30%,
  36% {
    width: 70px;
    height: 96px;
    margin-left: -35px;
    margin-top: -48px;
  }

  63%,
  69% {
    width: 32px;
    height: 60px;
    margin-left: -16px;
    margin-top: -30px;
  }
}

@keyframes dot3_ {
  3%,
  97% {
    height: 20px;
    width: 40px;
    margin-left: -20px;
    margin-top: 50px;
  }

  30%,
  36% {
    width: 8px;
    height: 8px;
    margin-left: -5px;
    margin-top: 49px;
    border-radius: 8px;
  }

  63%,
  69% {
    width: 16px;
    height: 4px;
    margin-left: -8px;
    margin-top: -37px;
    border-radius: 10px;
  }
}
/* END OF SPINNER */

body {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/chat-bg.jpg);
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper {
  position: relative;
  width: 60%;
  height: 90%;
  background-color: #ffffff9d;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}

/* HEADER */
#header {
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 25px;
  gap: 5px;
}

#header h4 {
  margin-right: auto;
}

#header i {
  height: 40px;
  width: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 50%;
  transition: 0.3s;
}

#header i:hover {
  background-color: #444;
  scale: 1.2;
}

/* MESSAGE BODY */
#mssgBody {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  padding-bottom: 40px;
  transition: 0.5s;
}

#messages {
  height: 91.5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#messages::-webkit-scrollbar {
  display: none;
}

.mssg {
  position: relative;
  max-width: 55%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  overflow-wrap: break-word;
  cursor: default;
}

.mssg img {
  width: 40px;
  border: 1px solid #444;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  position: sticky;
  top: 0;
}

.mssg .time {
  font-size: 12px;
  color: #000;
  margin-bottom: 5px;
  align-self: flex-end;
  position: sticky;
  bottom: 50%;
  text-wrap: nowrap;
}

.mssg .message_content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  word-break: break-all;
  word-wrap: break-word;
  padding: 10px;
  border-radius: 5px;
}

.mssg .message_content .username {
  font-weight: 700;
  font-size: 0.75rem;
  margin-bottom: 5px;
}

/* SENDER STYLING */
.sender {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.sender .message_content .username {
  display: none;
}

/* EDIT AND DELETE OPTION */
.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 15px;
  width: 100px;
  background-color: #b3b3b3;
  border-radius: 12px;
  position: absolute;
  left: -20%;
  bottom: -100%;
  z-index: 999;
}

.options ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  left: -40%;
  bottom: 0%;
}

.options ul,
.options ul li {
  width: 100%;
}

.options ul li {
  list-style: none;
  text-align: center;
  padding: 5px;
  border-radius: 12px;
  transition: 0.3s;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.options ul li:hover {
  background-color: #ddd;
}

/* INPUT SECTION */
#inputSection {
  padding-inline: 10px;
  width: 100%;
  height: 4%;
  display: flex;
  align-items: center;
  margin-top: auto;
  justify-content: space-between;
  gap: 10px;
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 0;
}

#inputSection input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

#inputSection button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  aspect-ratio: 1;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

#inputSection i:hover {
  background-color: #444;
}

/* MEDIA QUERIES */
@media (width <=1024px) {
  #wrapper {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
